/* ====================
  Global
==================== */
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

body {
  margin: 0;
}

#root {
  @include flex-column;
  min-height: 100vh;
}

.main {
  flex: 1;
}

.bg-dark {
  background-color: $dark-violet;
}

.title {
  color: #fff;
  margin-bottom: 2rem;
}

.sr-only {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  width: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  border: 0 !important;
  overflow: hidden !important;
  white-space: nowrap !important; /* 3 */
}
