/* ====================
  Button
==================== */
@use "../abstracts/variables" as *;

button {
  cursor: pointer;
}

.edit-button {
  padding: 10px;
  font-weight: bold;
  color: $white;
  background-color: $green;
  border-color: $green;
}

.transaction-button {
  display: block;
  width: 100%;
  margin-top: 1rem;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  color: $white;
  background-color: $green;
  border-color: $green;
}
