/* ====================
  Hero
==================== */

.hero {
  position: relative;
  height: 300px;
  background-image: url("/images/bank-tree.jpeg");
  background-position: 0 -50px;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__content {
  position: relative;
  top: 2rem;
  width: 200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
  background: white;
  box-sizing: content-box;
}

.hero__content .hero__subtitle {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}

.hero__content .hero__text {
  margin-top: 1em;
  margin-bottom: 0;
  font-size: 0.9rem;
}

@media (min-width: 920px) {
  .hero {
    height: 400px;
    background-position: 0% 33%;
  }

  .hero__content {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 300px;
    margin: 2rem;
  }

  .hero__content .hero__subtitle {
    font-size: 1.5rem;
  }

  .hero__content .hero__text {
    font-size: 1.2rem;
  }
}
