/* ====================
  Mixins
==================== */

// Flexbox
@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin flex-align-center {
  display: flex;
  align-items: center;
}
@mixin flex-justify-center {
  display: flex;
  justify-content: center;
}
@mixin flex-center-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin flex-column-align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
