/* ====================
  Variables
==================== */

// Color

$white: #fff;
$black: #000;
$dark-violet: #12002b;
$light-black: #222;
$grey: #ccc;
$dark-blue: #2c3e50;
$green: #00bc77;
$light-green: #42b983;
$red: #fe3d3d;

// Font Family
