/* ====================
  Header
==================== */
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.header__nav {
  @include flex-center-space-between;
  padding: 5px 20px;
}

.header__nav a {
  font-weight: bold;
  color: $dark-blue;
}

.header__nav a.router-link-exact-active {
  color: $light-green;
}

.header__logo {
  @include flex-align-center;
}

.header__logo img {
  width: 200px;
  max-width: 100%;
}

.header__actions {
  display: flex;
  gap: 0.3em;
}

.header__action {
  margin-right: 0.5rem;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  color: inherit;
  background: none;
  border: none;
}

.header__action i {
  margin-right: 0.3rem;
}

.header__action:hover {
  text-decoration: underline;
}
